body{
    background-color: #820AD1;
    margin: 0px;
    padding: 0px;
}

.login_principal{
    background-color: white;
    text-align: center;
    border-radius: 7px;
    margin: 80px auto;
    max-width: 30%;
    padding: 40px;
}

section h3{
    text-align: center;
    color:black;
    font-size: 20px;
    font-weight: bolder;
}

section form{
    background-color: white;
}

section a{
    display: block;
    padding: 10px;
    text-align: center;
    text-decoration: none;
}

.formulario {
    margin: 40px;
    
}

.buttom{
    padding-left: 120px;
    padding-right: 120px;
    padding-top:20px;
    padding-bottom:20px;
    background-color: white;
    outline: none;
    border-color: #f5f5f5;
    
}

.cpf_senha{
    padding: 20px 100px 20px 00px ;
    background-color: white;
    border-color: rgb(221, 129, 67);
    font-size: 17px;
    outline:none;
    border-style: solid;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    color: rgb(221, 129, 67);
}

::-webkit-input-placeholder{
    color: rgb(221, 129, 67);
}